.embark-events {
  .collapsible {
    box-shadow: none;
    border: none;
  }
  .collapsible-header {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    border: none;
    padding: 10px 30px !important;
  }
  .collapsible-body {
    border: none;
    padding: 10px 0px;
    .event-content {
      margin: 10px 0px;
      padding-left: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #f2f2f2;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: $embark-blue;
        left: 0px;
        top: 5px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
      }
      p {
        color: $embark-blue;
      }
      &.event-green {
        p {
          color: $embark-green;
        }
        &::after {
          background: $embark-green;
        }
      }
      &.event-orange {
        p {
          color: $embark-orange;
        }
        &::after {
          background: $embark-orange;
        }
      }
    }
  }
}
