#hero h4 {
  font-size: 24px;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  #hero .section {
    display: grid;
  }
}

@media only screen and (max-width: 992px) {
  #hero .section-media {
    order: 1;
  }
}

@media only screen and (max-width: 992px) {
  #hero .section-content {
    order: 2;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
  }
}
