#footer {
  background: #002e75;
  color: white;

  .footer-widget {
    line-height: 40px;
  }

  a,
  p {
    color: white;
  }

  .footer-bottom p {
    margin-bottom: 0px;
    color: #fff;
  }
}

@media only screen and (max-width: 992px) {
  #footer {
    text-align: center;
  }
}
