.form-outer {
  padding: 20px;
  padding-top: 30px;
  border-radius: 10px;
  background: rgba(lighten($embark-blue, 50%), 0.8);
  width: 100%;
  /* margin: 80px auto; */
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  @media #{$small-and-down} {
    padding: 15px;
    /*     margin: 40px 20px;
 */
  }
  .heading-big {
    font-size: 32px;
    font-weight: 600;
  }
  .btn {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
form {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  .col {
    padding: 0 !important;
    &:nth-child(odd) {
      padding-right: 3px !important;
      @media #{$medium-and-down} {
        padding-right: 0;
      }
    }
    &:nth-child(even) {
      padding-left: 3px !important;
      @media #{$medium-and-down} {
        padding-left: 0;
      }
    }
  }
  .input-control {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"] {
      height: auto;
      background: #fff;
      border: 1px solid $primarytextcolor;
      border-radius: 5px;
      padding: 10px 20px;
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      color: $primarytextcolor;
      &:focus {
        border-bottom: 1px solid $primarytextcolor !important;
        box-shadow: unset !important;
      }
      &::placeholder {
        color: #616d92;
      }
    }
    label {
      font-family: $montserrat;
      padding-left: 20px;
      color: $primarytextcolor;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1px;
      cursor: pointer;
    }
    .label {
      @extend label;
    }
    .btn {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    [type="checkbox"].filled-in:checked + span:not(.lever):after {
      background: $embark-blue;
      border: 2px solid $embark-blue;
    }
    .small label {
      text-transform: inherit;
      padding-left: 0;
    }
    &.password {
      position: relative;
    }
    .icon {
      position: absolute;
      right: 8px;
      margin-top: 12px;
      cursor: pointer;
      z-index: 20;
    }
    select {
      display: block;
      padding: 10px 20px;
      position: relative;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      &:after {
        content: "\f078";
        right: 10px;
        font-family: "Font Awesome";
        position: absolute;
      }
      &:focus {
        outline: 1px solid $secondary-background;
      }
    }
    .radio {
      label {
        padding: 0;
      }
      p:first-child label span {
        border-right: none;
        border-radius: 5px 0px 0px 5px;
        -webkit-border-radius: 5px 0px 0px 5px;
        -moz-border-radius: 5px 0px 0px 5px;
        -ms-border-radius: 5px 0px 0px 5px;
        -o-border-radius: 5px 0px 0px 5px;
      }
      p:last-child label span {
        border-left: none;
        border-radius: 0px 5px 5px 0px;
        -moz-border-radius: 0px 5px 5px 0px;
        -ms-border-radius: 0px 5px 5px 0px;
        -o-border-radius: 0px 5px 5px 0px;
        -webkit-border-radius: 0px 5px 5px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
      }
      input[type="radio"] {
        & + span {
          width: 50%;
          padding: 10px 15px;
          text-align: center;
          height: auto;
          border: 1px solid $primarytextcolor;
        }
        &:checked + span {
          background: $embark-blue;
          color: #fff;
          &:after,
          &:before {
            content: unset;
          }
        }
        &:not(:checked) + span {
          background: #fff;
          color: $embark-text;
          &:after,
          &:before {
            content: unset;
          }
        }
      }
    }
  }
  .step-indicator {
    display: none;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 30px auto;
    .line {
      width: 0;
      height: 4px;
      background: $embark-blue;
      left: 0;
      position: absolute;
      z-index: 10;
    }
    .dot {
      width: 32px;
      height: 32px;
      border: 4px solid $embark-blue;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
      background: #fff;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      &.active:after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background: $embark-blue;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
      }
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background: #b9bfd5;
      left: 0;
    }
    &.active {
      display: flex;
    }
  }
  .form_part {
    display: none;
    &.active {
      display: block;
    }
  }
}
body.passwordrecovery form .btn[type="submit"] {
  text-transform: capitalize;
}
