body {
  main {
    min-height: 100vh;
    overflow: hidden;
    &.login,
    &.signup,
    &.passwordrecovery {
      background: $embark-blue url("/media/form-background.png") no-repeat
        scroll;
      background-size: cover;
      padding: 50px 0px;
      .row {
        margin-bottom: 0;
      }
    }
    &.dashboard-shrink {
      .dashboard-container {
        transform: translateX(220px);
        -webkit-transform: translateX(220px);
        -moz-transform: translateX(220px);
        -ms-transform: translateX(220px);
        -o-transform: translateX(220px);
        transition: all 200ms;
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -ms-transition: all 200ms;
        -o-transition: all 200ms;
      }
    }
  }
}

@import "_hero";
@import "_tabs";
@import "_cost";
@import "_card";
@import "_form";
@import "_dashmenu";
