table.table {
  &.table-no-border tr {
    border: none;
  }

  &.table-compact {
    tr {
      margin-bottom: 5px;

      &.height-10 {
        height: 10px;
      }
    }

    td,
    th {
      padding-top: 2px;
      padding-bottom: 2px;
      line-height: 14px;
    }
  }
}
